<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    My Test Links...
  </p>
  <p>
    <a routerLink="../tab3/detail">Tab3 Detail</a>
    <br />
    <a routerLink="/other-detail">other-detail</a>
    <br />
    <a routerLink="/other-detail/child">other-detail child</a>


  </p>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
